{% extends base_template %}

{% block content %}

<div class="page-header">
    <h1>App Engine Starter</h1>
</div>

    <p class="lead">
    Create quick prototypes or use for production.
</p>

<p>
    To start at baseline, remove the following:
</p>

<ul>
    <li>templates/base.html before body, there is comments on which to remove</li>
    <li>navigation links on base.html</li>
    <li>app.yaml endpoints handler</li>
    <li>routes.py rpc handler</li>
    <li>models/models.py has a Shout model</li>
    <li>That's it, you should be able to create anything from those demo too.</li>
</ul>

<div class="row">
    <div class="col-md-6">
        <h4>Shouts</h4>
        {% for shout in shouts %}
        <blockquote>
            <p>{{ shout.message }}</p>
            <p class="pull-right muted">{{ shout.name }}</p>
        </blockquote>
        {% endfor %}

        <ul class="pager">
        {% if prev %}
              <li><a href="{{ uri_for('home', more=prev, prev=True) }}">Previous</a></li>
        {% endif %}
        {% if more %}
              <li><a href="{{ uri_for('home', more=more) }}">Next</a></li>
        {% endif %}
        </ul>
    </div>
    <div class="col-md-6">
        <form method="post" role="form">
            <div class="form-group">
                <label for="message">Shout</label>
                <textarea rows=3 name="message" id="message" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Display Name</label>
                <input type="text" id="name" name="name" class="form-control" />
            </div>
            {% if user_id %}
                <input type="submit" class="btn btn-primary" value="Shout Out" class="form-control" />
            {%  else %}
                <a href="{{ uri_for('user-login') }}" class="btn btn-warning">Sign in to shout</a>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}

